:root {
    --iris: #4d5ae5;
    --ocean: #404bbf;
    --navy-blue: #2e2f42;
    --green: #31d0aa;
    --slate: #434455;
    --light-slate: #8e8f99;
    --cornflower: #e7e9fc;
    --cloud: #f4f4fd;
    --navy-blue-modal: rgba(46, 47, 66, 0.4);
    --grey: rgba(46, 47, 66, 0.7);
    --white: #fff;
    --dairy: #fcfcfc;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

body {
    font-family:"Roboto", sans-serif;
    background-color: var(--white);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--slate);
}

.container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

.header-nav {
    display: flex;
}

.header-nav .logo {
    padding-top: 24px;
}

.header-list {
    display: flex;
    padding-left: 76px;
    gap: 40px;
    padding-top: 24px;
    padding-bottom: 24px;
}

.contacts-list {
    display: flex;
    gap: 40px;
    margin-left: 332px;
    padding-top: 24px;
}

.main-tag {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--white);
}

.second-tag {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: var(--navy-blue);
}

.third-tag {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
}

.logo {
    font-family: "Raleway", sans-serif;
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.header-links {
    text-decoration: none;
    font-weight: 500;
    color: var(--navy-blue);
    display: block;
}

.header-links:hover,
.header-links:focus {
    color: var(--ocean)
}

.header-contacts {
    font-style: normal;
}

.head-contact {
    text-decoration: none;
    color: var(--slate);
}

.head-contact:hover,
.head-contact:focus {
    color: var(--ocean)
}

.main {
    background-color: var(--navy-blue);
    display: block;
    padding-top: 188px;
    padding-bottom: 188px;
}

.main-tag {
    display: block;
    margin: 0 auto;
    text-align: center;
    max-width: 496px;
    max-height: 120px;
}

.main-button {
    display: block;
    margin: 0 auto;
    justify-content: center;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--white);
    background-color: var(--iris);
    cursor: pointer;
    margin-top: 48px;
    padding: 16px 32px;
}

.main-button:hover,
.main-button:focus {
    background-color: var(--ocean); 
}

.second-tag {
    text-align: center;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.advantages-list {
    display: flex;
    padding-top: 120px;
    padding-bottom: 120px;
    gap: 24px;
}

.advantages-list li {
max-width: 264px;
}

.advantages-list li p {
    margin-top: 8px;
}

.profiles {
    background-color: var(--cloud);
}

.profiles .second-tag {
    padding-top: 120px;
    padding-bottom: 72px;
}

.profiles-list {
    display: flex;
    justify-content: center;
    gap: 24px;
    padding-bottom: 120px;
}

.profiles-list li {
    background-color: var(--white);
}

.profiles-list .third-tag {
    padding-top: 32px;
    padding-bottom: 8px;
    text-align: center;
}

.profiles-text {
    padding-bottom: 32px;
    text-align: center;
}

.porfolio .second-tag {
    padding-top: 120px;
    padding-bottom: 72px;
}

.porfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    padding-bottom: 120px;
}

.porfolio-list li {
    border: var(--cornflower) solid 1px;
}

.porfolio-list .third-tag {
    padding: 32px 172px 8px 16px;
}

.porfolio-list .porfolio-text {
    padding-right: 269px;
    padding-bottom: 32px;
    padding-left: 16px;
}

.footer {
    background-color: var(--navy-blue);
    padding-top: 120px;
    padding-bottom: 120px;
}

.footer .logo {
    padding-top: 100px;
}

.footer-text {
    color: var(--cloud);
    padding-top: 16px;
    max-width: 264px;
    max-height: 72px;
}